<div class="row">
	<div id="content" class="container">
    <div id="big_text" class="span12">
          <h1 class="grey"><span class="big">Vi är <span class="black">idss</span> en webbyrå i småland!</h1>
          <p class="large">Vi är ett glatt gäng som jobbar några mil utanför Växjö. Eftersom vi ligger i småland försöker vi alltid hålla "smålänska priser".</p>
          <p class="large">Vår vision är att alltid leverera unika hemsidor till kunden, vi använder aldrig några klara mallar när vi tar fram en hemsida till kunden då vi anser att slut resultatet blir bättre om man skräddarsyr hemsidan för just den kund man jobbar med.</p>
          <p class="large black"><b>Välkommen till en annorlunda webbyrå!</p>
    </div> 
        
	</div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
<div style="text-align: center;" id="content_under">
  <div style="margin-top: 0px;" class="container">
   <div style="margin-left: 80px;" id="description" class="span12">
   	<div class="span5">
		<h2 class="black">Företagsfakta</h2>
		<p class="large">International Domain Store Sweden AB</p>
		<p class="large">Org nr: 556806-6897</p>
	</div>
  <div class="span5">
    <h2 class="black">Kontaktinformation</h2>
   <p class="large">idss-design.se</p>

<p class="large">info@idss-design.se</p>

<p class="large">Direkt: 0470-12010</p>
  </div>
	</div>
    <div id="push"></div>
  </div>
</div>
