<div class="row">
	<div style="min-height: 300px;" id="content" class="container">
    <h1 class="normal">Lediga jobb</h1>
    <p>Jus nu har vi inga lediga jobb, men du kan 채nd책 skicka in ett CV och personlig brev till oss p책 <b>jobb@idss-design.se</b> s책 kommer vi titta igenom det.</p>
     </div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
