<div id="hero" class="row">
	<%= image_tag "hero1.png" %>
	<!-- <div id="st_main" class="st_main">
			<img src="images/album/1.jpg" alt="" class="st_preview" style="display:none;"/>
			<div class="st_overlay"></div>
			<ul id="st_nav" class="st_navigation">
				<li class="album">
					<div class="st_wrapper st_thumbs_wrapper">
						<div class="st_thumbs">
							<img src="/assets/ana.png" width="300" alt="images/album/1.jpg"/>
							<img src="/assets/domainstore.png" width="230" alt="images/album/1.jpg"/>
							<img src="/assets/ventbed.png" width="180" alt="images/album/1.jpg"/>
							<img src="/assets/foldbed.png" width="250" alt="images/album/1.jpg"/>
							
						</div>
					</div>
				</li>
				
			</ul>
		</div> -->
	 <figure class="a animate">
	 	<figcaption>
	 	</figcaption>
	 </figure>
	 <figure class="b animate">
	 	<figcaption >
	 	
	 	</figcaption>
	 </figure>
	 <figure class="c animate">
	 	<figcaption>
	 		
	 	</figcaption>
	 </figure>
	  <figure class="d">
	 	<figcaption>
	 		
	 	</figcaption>
	 </figure>
</div>
