<div class="row">
		<div id="content" class="container">
          <div id="hero">

            <div class="flexislider span12">
              <ul class="slides">
                <li>
                  <%= link_to (image_tag "hero2.png"), contacts_path %></li>
                <li style="">
                  <%= link_to (image_tag "hero1.png"), referens_path("ana") %></li>

              </ul>
            </div>
          </div>
			<div id="push"></div>
		</div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
<div id="content_under">
  <div class="container">
   <div id="description" class="span12">
	
	<div class="fmcircle_out">
			<a href="#branding">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_dark">
						<span>Design</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/design.png" alt="" />
					</div>
				</div>
			</a>
	</div>
	<div class="fmcircle_out">
			<a href="#branding">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_dark">
						<span>Utveckling</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/develop.png" alt="" />
					</div>
				</div>
			</a>
	</div>
	<div class="fmcircle_out">
			<a href="#branding">
				<div class="fmcircle_border">
					<div class="fmcircle_in fmcircle_dark">
						<span>Byrån</span><img src="https://dl.dropbox.com/u/65958930/uploads/cssdeck/develop.png" alt="" />
					</div>
				</div>
			</a>
	</div>
	</div>
    <div id="push"></div>
  </div>
</div>


