/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@font-face {
font-family: 'sourcesanspro';
src: url('sourcesanspro-regular-webfont.eot');
src: url('sourcesanspro-regular-webfont?#iefix') format('embedded-opentype'),
     url('sourcesanspro-regular-webfont.woff') format('woff'),
     url('sourcesanspro-regular-webfont.ttf') format('truetype'),
     url('sourcesanspro-regular-webfont.svg#colab') format('svg');
font-weight: normal;
font-style: normal;
}
 .bwWrapper {
    position:relative;
    display:block;
}
 #overlay {
   height:100%;
      width:100%;
      position:fixed;
      left:0;
      top:0;
      text-align: center;
      z-index:100 !important;
      background: black;
      filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
    -moz-opacity: 0.75;       /* mozilla, netscape */
    opacity: 0.75;           /* fx, safari, opera */
}
body {
	background:#f9f8f7 url('/assets/body_bg.gif') repeat-x;
	color:grey;
	overflow-x: hidden;
}
 h1 {
 font-family: "sourcesanspro";
 font-size: 25px;
 }
 /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background: #323232 url('/assets/footer.gif') repeat-x;min-height:300px;
      }
	.credit{margin-top:50px;}
      /* Lastly, apply responsive CSS fixes as necessary */
      
#brand {
	margin-top: 55px;
	height: 130px;
	margin-left: 40px;
	position: relative;
	z-index: 2;
}
div#seperator {
	width: 1100px;
	margin-left: -50px;
}
div#content {
	margin-left: 8px;
	position: relative;
	width: 983px;
	
	
}
div#menu {
	margin-left: 602px;
	margin-top: 15px;
	position: absolute;
	z-index: 4;
	width: 950px;
}
div#highlight {
	position: absolute;
	margin-top: -39px;
	margin-left: -50px;
	height: 10px;
	z-index: 1;
}
#menu ul li {
	list-style: none;
	float: left;

	margin-left: 10px;
}
#menu ul li a {
	font-family: Calibri, Arial; 
	color: #858585;
	font-weight: normal;
	font-size: 14px;
}
#menu ul li a:hover {
 text-decoration: none;color:black;
}
.headline {
	font-size: 9px;
	color: #AEB013;
	text-transform: uppercase;

}


 .light {
 	background: rgb(38,38,38); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(38,38,38,1) 0%, rgba(62,62,62,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(38,38,38,1)), color-stop(100%,rgba(62,62,62,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(62,62,62,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(62,62,62,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(38,38,38,1) 0%,rgba(62,62,62,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(38,38,38,1) 0%,rgba(62,62,62,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#3e3e3e',GradientType=1 ); /* IE6-9 */

 }


 .ringMenu {
  width: 100px;
  margin: 0px;
}

.ringMenu:hover {}

.ringMenu ul {
  list-style: none;
  position: relative;
  width: 100px;
  color: white;
}
.ringMenu ul a {
  color: white;
}
.ringMenu ul li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ringMenu ul li a {
  display: block;
  width: 100px;
  height: 100px;
  background: rgba(133, 133, 133, 0.7);
  text-align: center;
  line-height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.ringMenu ul li a:hover {
  background: rgba(255, 255, 255, 0.7);
}

.ringMenu ul li:not(.main) {
  -webkit-transform: rotate(-180deg) scale(0);
  -moz-transform: rotate(-180deg) scale(0);
  -o-transform: rotate(-180deg) scale(0);
  transform: rotate(-180deg) scale(0);
  opacity: 0;
}
.ringMenu:hover ul li {
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  opacity: 1;
}
.ringMenu ul li.top {
  -webkit-transform-origin: 50% 152px;
  -moz-transform-origin: 50% 152px;
  -o-transform-origin: 50% 152px;
  transform-origin: 50% 152px;
  position: absolute;
  top: -102px;
  left: 0;
}
.ringMenu ul li.bottom {
  -webkit-transform-origin: 50% -52px;
  -moz-transform-origin: 50% -52px;
  -o-transform-origin: 50% -52px;
  transform-origin: 50% -52px;
  position: absolute;
  bottom: -102px;
  left: 0;
}
.ringMenu ul li.right {
  -webkit-transform-origin: -52px 50%;
  -moz-transform-origin: -52px 50%;
  -o-transform-origin: -52px 50%;
  transform-origin: -52px 50%;
  position: absolute;
  top: 0px;
  right: -102px;
}
.ringMenu ul li.left {
  -webkit-transform-origin: 152px 50%;
  -moz-transform-origin: 152px 50%;
  -o-transform-origin: 152px 50%;
  transform-origin: 152px 50%;
  position: absolute;
  top: 0;
  left: -102px;
}

a.glow, a.glow:hover, a.glow:focus
{
  text-decoration: none;
  color: #aaf;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}
