#description {
    position: relative;
    left: -34px;
}
.description-item {
 margin-left: 38px;
width: 275px;
}
div#hero {
	position: relative;
	border-radius: 3px;

	top: -20px;
    margin-bottom: 0px;
}
#hero-1 {
	position:relative;
	margin-top: -50px;
	left: -10px;
}
.st_thumbs img {
	
}
.image_holder {
	float: left;
}
.description {
	position: relative;
	clear: both;
	top: 100px;
}

div.cr1 {
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 400px;
    background: #aaa;
    text-align: center;
    border-top: 10px groove #999;
    border-right: 50px groove #999;
    border-left: 50px groove #999;
    border-bottom: 10px groove #999;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 30px 30px rgba(255, 255, 255, 0.3), inset 0 -30px 30px rgba(255, 255, 255, 0.3), inset 0 2px 3px rgba(255, 255, 255, 0.7), inset 0 -20px 5px rgba(255, 255, 255, 0.3);
}

div.cr1 p {
    font-size: 2em;
    font-weight: bold;
    line-height: 260px;
}

figure {
    float: left;
    width: 175px;
    height: 175px;
    border-radius: 200px;
    box-shadow: inset 0 40px 50px rgba(0, 0, 0, 0.2), inset 0 -40px 50px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px rgba(0, 0, 0, 0.3), 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border: 5px solid #fff;
}

.animate {
    transition-property: width, height, border-radius;
    transition-duration: 500ms;
    -webkit-transition-property: width, height, border-radius;
    -webkit-transition-duration: 500ms;
    -moz-transition-property: width, height, border-radius;
    -moz-transition-duration: 500ms;
    -o-transition-property: width, height, border-radius;
    -o-transition-duration: 500ms;
}

.animate:hover {
    width: 300px;
    height: 300px;
    border-radius: 300px;
}

figure:hover {
    cursor: pointer;
    box-shadow: inset 0 50px 30px rgba(0, 0, 0, 0), inset 0 -50px 30px rgba(0, 0, 0, 0), inset 0 0 3px 1px rgba(0, 0, 0, 0.3), 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

figure:active { }

figure.a { background: url('/assets/ana.png') center center no-repeat }

figure.b { background: url('/assets/domainstore.png') center center no-repeat }

figure.c { background: url('/assets/foldbed.png') center center no-repeat }

figure.d { background: url('/assets/ventbed.png') center center no-repeat }

figcaption p { display: none }

figure:hover p,
figure p.on {
    padding: 2px;
    height: 20px;
    display: block;
    text-align: center;
    background: #fff;
    margin-top: 45%;
    font-weight: bold;
    font-size: 1.3em;
    color: #666;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-left: 2000px;
}




