.item img {
	width: 200px;
	height: 200px;
	border: 1px solid white;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.53);
    -moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.53);
     box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.53);
}
.item {
	

}
.img_wrapper {
	margin-left: -25px;
}
.ref-text {
	position: relative;
	margin-top: -20px;
	left: -25px;
}
.ref-text2 {
	position: relative;
	margin-top: -20px;
	left: -25px;
}
.ref-text3 {
	position: relative;
	margin-top: -10px;
	left: -25px;
}
.ref-text4 {
	position: relative;
	margin-top: -20px;
	left: -25px;
}