<div class="row">
	<div id="content" class="container">
        <div id="big_text" class="span12">
        	<h1 class="grey"><span class="big"><span class="black">idss</span> är en webbyrå, vi gör <span class="black">hemsidor</span>, design och allt därtill</span></h1>
        	<p class="large">Vi gör unika helhetslösningar och applikationer till små och stora företag.</p>
        </div> 
        
	</div>
</div>
</div> <!-- END CONTAINER IN APPLICATION -->
<div id="content_under">
  <div style="margin-top: 20px;" class="container">
   <div style="margin-left: 93px;" id="description" class="span12">
   	<div style="text-align: center;" class="span3">
   		<h2 >Webbutveckling</h2>
		<i style="font-size: 100px;" class="icon-desktop"></i>
		<p>Vi skapar hemsidor helt skräddarsydda för kundens behov.</p>
	</div>
	<div style="text-align: center;" class="span4">
   		<h2 >Responsiv webbdesign</h2>
		<i style="font-size: 100px;" class="icon-tablet"></i>
		<p>Innebär att layouten att förändras beroende på vilken skärmupplösning besökaren har. Då mer och mer kunder använder sina smartphones för att besöka hemsidor är detta en viktigt del i framtidens webbutveckling.</p>
	</div>
	<div style="text-align: center;" class="span3">
   		<h2>webbaplikationer</h2>
		<i style="font-size: 100px;" class="icon-cogs"></i>
		<p>Vi gör även webbaplikation. Så som ehandelslösningar.</p>
	</div>
	
	</div>
    <div id="push"></div>
  </div>
</div>
